#select-place-li {
	width: auto;
}

#select-place {
	margin-bottom: 30px;
	width: 100%;
}

button[data-id="select-place"][aria-expanded="true"]:hover {
	background-color: #fec503 !important;
    border-color: #f6bf01 !important;
}

button[data-id="select-place"]:active {
	background-color: #fec503 !important;
    border-color: #f6bf01 !important;
}

#select-place option {
	color: black;
}