.map{
	border: 1px solid black;
	margin-left: 15px;
	width: 90%;
	height:300px;
	display: block;
}
.input-group{
		display: inline-block;
		margin-left: 15px;

}
.perkm{
	font-size: 20px;

}

.cab{
	margin-left: 50px;
	margin-bottom: 10px;
	font-size: 1.3rem;
}

.location{
	margin-left: 50px;
	font-size: 1.3rem;

}