#main {
	padding-top: 100px;

}
body {
    background: -webkit-linear-gradient(90deg, #2af1b2 10%, #5789e0 90%);
    background: -moz-linear-gradient(90deg, #2af1b2 10%, #5789e0 90%);
    background: -ms-linear-gradient(90deg, #2af1b2 10%, #5789e0 90%);
    background: -o-linear-gradient(90deg, #2af1b2 10%, #5789e0 90%);
    background: linear-gradient(90deg, #2af1b2 10%, #5789e0 90%);
    font-family: 'Open Sans', sans-serif!important;
}
}


@media (min-width: 768px) and (max-width: 992px) {
	#main {
		padding-top: 150px !important;
	}
}

#category,
#language,
#phrase {
	font-size: 1.5em !important;
	height: 46px !important;
}

@media (min-width: 768px) {
	#language {
		right: 11px !important;
	}

	#category {
		right: 22px !important;
	}
}

#results {
	-webkit-columns: 3 200px; /* Chrome, Safari, Opera */
    -moz-columns: 3 200px; /* Firefox */
    column-count: 3 200px;
}

.translation a {
	color: #333;
}

.category-name {
	font-weight: bold;
	font-size: 3rem;
}

.original:hover,
.translated:hover {
	text-decoration: underline;
	cursor: pointer;
}

.translation {
	margin-bottom: 30px;
	overflow: hidden; /* Fix for firefox and IE 10-11  */
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
	break-inside: avoid-column;
}

.translation-category {
	overflow: hidden; /* Fix for firefox and IE 10-11  */
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
	break-inside: avoid-column;
}

.translated {
	font-weight: bold;
}
text-decoration-color: {
    color: white;
